<div id="resetPasswordContainer">

    <h2>{tr(#recover password (header)#)}</h2>
    {if:message}
    <p class="error">{message}</p>
    <p><a href="{makeUrl(#login#,#login2#,#user2#)}">{tr(#log in#)}</a></p>
    {end:}

    {if:!message}
    <form id="resetPassword" action="{makeUrl(#resetPasswordByHash#,#user2#,#user2#)}"
          method="post" flexy:ignore>

        <!-- Intro text -->
        <!--p><strong>message</strong></p-->

        <fieldset class="hide">
            <input type="hidden" name="userId" value="{oHash.usr_id}" />
            <input type="hidden" name="k" value="{oHash.hash}" />
        </fieldset>
        <fieldset>
            <ol class="clearfix">
                <li>
                    <label for="user_password">
                        <em>*</em> {tr(#password#)}
                    </label>
                    <div>
                        <p class="error" flexy:if="error[password]">
                            {tr(error[password])}
                        </p>
                        <input id="user_password" class="text" type="password"
                               name="user[password]" value="{password}" />
                    </div>
                </li>
                <li>
                    <label for="user_password-repeat">
                        <em>*</em> {tr(#repeat password#)}
                    </label>
                    <div>
                        <p class="error" flexy:if="error[password_repeat]">
                            {tr(error[password_repeat])}
                        </p>
                        <input id="user_password-repeat"
                               class="text" type="password"
                               name="user[password_repeat]" value="{password_repeat}" />
                    </div>
                </li>
            </ol>
        </fieldset>

        <div class="fieldIndent">
            <p>
                <input class="button" type="submit" name="submitted"
                       value="{tr(#recover password (button)#)}" />
                <img class="ajaxLoader" src="{imagesDir}/ajax-loader.gif"
                     alt="" style="display: none;" />
            </p>
            <p>
                <a href="{makeUrl(#login#,#login2#,#user2#)}">{tr(#know your password, log in#)}</a>
            </p>
        </div>
        <p class="required"><em>*</em> {tr(#denotes required field#)}</p>

    </form><!-- END loginUser -->
    {end:}

</div>
