<h1>{translate(pageTitle)}</h1>
<div class="message">{msgGet():h}</div>

<form id="updatePasswd" method="post" action="" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="update" />
    </fieldset>
    <fieldset class="lastChild noLegend">
        <ol class="clearfix">
            <li>
                <label for="frmPasswordOrig">
                    <em>*</em> {translate(#Original password#)}
                </label>
                <div>
                    <p class="error" flexy:if="error[frmPasswordOrig]">
                        {translate(error[frmPasswordOrig])}
                    </p>
                    <input id="frmPasswordOrig" class="text" type="password"
                           name="frmPasswordOrig" value="{passwordOrig}" />
                </div>
            </li>
            <li>
                <label for="frmPassword">
                    <em>*</em> {translate(#New password#)}
                </label>
                <div>
                    <p class="error" flexy:if="error[frmPassword]">
                        {translate(error[frmPassword])}
                    </p>
                    <input id="frmPassword" class="text" type="password"
                           name="frmPassword" value="{password}" />
                </div>
            </li>
            <li>
                <label for="frmPasswordConfirm">
                    <em>*</em> {translate(#Confirm Password#)}
                </label>
                <div>
                    <p class="error" flexy:if="error[frmPasswordConfirm]">
                        {translate(error[frmPasswordConfirm])}
                    </p>
                    <input id="frmPasswordConfirm" class="text" type="password"
                           name="frmPasswordConfirm" value="{passwordConfirm}" />
                </div>
            </li>
            <li>
                <label for="frmPasswdResetNotify">
                    {translate(#Notify me by email#)}
                </label>
                <div>
                    <input id="frmPasswdResetNotify" type="checkbox"
                           name="frmPasswdResetNotify" value="1" />
                </div>
            </li>
        </ol>
    </fieldset>
    <p class="fieldIndent">
        <input class="submit" type="submit" name="submitted"
               value="{translate(#Save#)}" />
        <input class="button" type="button" value="{translate(#Cancel#)}"
               onclick="document.location.href='{makeUrl(#summary#,#account#,#user#)}'" />
    </p>
    <p><em>*</em> {translate(#denotes required field#)}</p>
</form>
