<div id="page-container" class="columns layout-2cols">

    <div class="title-edit">
        <h1>{tr(#page manager (header)#)}</h1>
    </div>

    <div class="c75l list">
        <div class="layout-inner">

            {if:aSites}
            <table id="page-list" class="full">
                <thead>
                    <tr>
                        <th width="46%" flexy:raw="{this.plugin(#getColumnSortIcon#,#title#,sortBy,sortOrder):h}">
                            <a sgl:sort_by="title" href="#">{tr(#title (th)#)}</a>
                        </th>
                        <th width="10%">{tr(#language (th)#)}</th>
                        <th width="20%" flexy:raw="{this.plugin(#getColumnSortIcon#,#last_updated#,sortBy,sortOrder):h}">
                            <a sgl:sort_by="last_updated" href="#">{tr(#last updated (th)#)}</a>
                        </th>
                        <th width="15%" flexy:raw="{this.plugin(#getColumnSortIcon#,#username#,sortBy,sortOrder):h}">
                            <a sgl:sort_by="username" href="#">{tr(#author (th)#)}</a>
                        </th>
                        <th width="9%" flexy:raw="{this.plugin(#getColumnSortIcon#,#status#,sortBy,sortOrder):h}">
                            <a sgl:sort_by="status" href="#">{tr(#status (th)#)}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <flexy:include src="page_tablelist.html" />
                </tbody>
            </table><!-- full -->

            <img id="page-list-loader" src="{webRoot}/themes/{theme}/images/ajax-loader_2.gif"
                alt="" style="display: none;" />

            <p id="page-list-pager" class="pager">{pagerLinks:h}</p>
            {else:}
            <p class="notfound">{tr(#page screen error - no sites found#)}</p>
            {end:}

        </div><!-- inner -->
    </div><!-- list -->

    <div class="c25r" flexy:if="aSites">

        <flexy:include src="block_page_add.html" />
        <flexy:include src="block_page_filter.html" />

    </div>

</div>

