<form method="post" action="{makeUrl(#resetPassword#,#user2#,#user2#)}"
      id="updatePassword" flexy:ignore>
    <h4>{tr(#change password#)}</h4>
    <fieldset>
        <ol class="clearfix">
            <li>
                <label for="user_password-orig">
                    <em>*</em> {tr(#current password#)}
                </label>
                <div>
                    <input id="user_password-orig" class="text"
                           type="password" name="password_orig" value="" />
                </div>
            </li>
            <li>
                <label for="user_password-new">
                    <em>*</em> {tr(#new password#)}
                </label>
                <div>
                    <input id="user_password-new" class="text"
                           type="password" name="password_new" value="" />
                </div>
            </li>
            <li>
                <label for="user_password-repeat">
                    <em>*</em> {tr(#repeat password#)}
                </label>
                <div>
                    <input id="user_password-repeat" class="text"
                           type="password" name="password_repeat" value="" />
                </div>
            </li>
        </ol>
        <p class="fieldIndent">
            <span class="actions">
                <input class="button" type="submit" value="{tr(#update#)}" />
                &nbsp;{tr(#or#)}&nbsp;
                <a class="cancel" href="#">{tr(#cancel#)}</a>
            </span>
            <img class="ajaxLoader"
                 src="{imagesDir}/ajax-loader.gif"
                 alt="" style="display: none;" />
        </p>
    </fieldset>
</form>
