<form id="recoverPassword" action="{makeUrl(#recoverPassword#,#user2#,#user2#)}"
      method="post" flexy:ignore>

    <!-- Intro text -->
    <p><strong>{tr(#enter your data#)}</strong></p>

    <fieldset>
        <h2>{tr(#reset password (header)#)}</h2>
        <ol class="clearfix">
            <li>
                <label for="user_username">
                    <em>*</em> {tr(#username#)}
                </label>
                <div>
                    <p class="error" flexy:if="error[username]">
                        {tr(error[email])}
                    </p>
                    <input id="user_username" class="text" type="text"
                           name="user[username]" value="{username}" />
                </div>
            </li>
            <li>
                <label for="user_email">
                    <em>*</em> {tr(#email#)}
                </label>
                <div>
                    <p class="error" flexy:if="error[email]">
                        {tr(error[email])}
                    </p>
                    <input id="user_email" class="text" type="text"
                           name="user[email]" value="{email}" />
                </div>
            </li>
        </ol>
    </fieldset>

    <div class="fieldIndent">
        <p>
            <input class="button" type="submit" name="submitted"
                   value="{tr(#reset password (button)#)}" />
            <img class="ajaxLoader" src="{imagesDir}/ajax-loader.gif"
                 alt="" style="display: none;" />
        </p>
        <p>
            <a href="{makeUrl(#register#,#login2#,#user2#)}">{tr(#not registered#)}</a>
            <br />
            <a href="{makeUrl(#login#,#login2#,#user2#)}">{tr(#account exists, log in#)}</a>
        </p>
    </div>
    <p class="required"><em>*</em> {tr(#denotes required field#)}</p>

</form><!-- END loginUser -->
