<div id="content-activity-filter" class="block-helper block-icon block-icon-search block-input widget-item"
     sgl:widget="admin_dashboard-content_activity_search">
    <h2 class="widget-header"><a href="#">{tr(#search user (header)#)}</a></h2>
    <form class="inner" method="post" action="{makeUrl(#search#,#cmsactivity#,#simplecms#)}" flexy:ignore>
        <fieldset>
            <ol class="clearfix">
                <li>
                    <div>
                        <input class="text" type="text" name="search" value="" />
                        <!--input class="button" type="submit" name="submitted" value="{tr(#search user (action)#)}" /-->
                        <p class="comment">{tr(#start typing to get user list#)}</p>
                    </div>                
                </li>
            </ol>
        </fieldset>
    </form>
</div>
