<!-- Filter -->
<div id="export-config" class="block-helper block-item-list">
    <h2><a href="#">{tr(#export config (header)#)}</a></h2>
    <form class="inner" method="post" action="{makeUrl(#export#,#cmsexporter#,#simplecms#)}"
          flexy:ignore>

        <!-- default values -->
        <input type="hidden" name="config[replace_ids]" value="0" />
        <input type="hidden" name="config[data]" value="0" />
        <input type="hidden" name="config[links]" value="0" />
        <input type="hidden" name="config[attrib_lists]" value="0" />
        <input type="hidden" name="config[categories]" value="0" />

        <ul>
            <li>
                <label for="config_content-type">{tr(#config content type#)}</label>
                <select id="config_content-type" name="contentTypeId" flexy:ignore>
                    <option value="">{tr(#all#)}</option>
                    {generateSelect(aContentTypes,contentTypeId):h}
                </select>
            </li>
            <li>
                <input id="config_replace-ids" type="checkbox" name="config[replace_ids]"
                    value="1" checked="checked" flexy:if="config[replace_ids]" />
                <input id="config_replace-ids" type="checkbox" name="config[replace_ids]"
                    value="1" flexy:if="!config[replace_ids]" />
                <label for="config_replace-ids">{translate(#config replace real ids with sgl id#)}</label>
            </li>
            <li>
                <input id="config_data" type="checkbox" name="config[data]"
                    value="1" checked="checked" flexy:if="config[data]" />
                <input id="config_data" type="checkbox" name="config[data]"
                    value="1" flexy:if="!config[data]" />
                <label for="config_data">{translate(#config include data#)}</label>
            </li>
            <li>
                <input id="config_categories" type="checkbox" name="config[categories]"
                    value="1" checked="checked" flexy:if="config[categories]" />
                <input id="config_categories" type="checkbox" name="config[categories]"
                    value="1" flexy:if="!config[categories]" />
                <label for="config_categories">{translate(#config include categories#)}</label>
            </li>
            <!--li>
                <input id="config_links" type="checkbox" name="config[links]"
                    value="1" checked="checked" flexy:if="config[links]" />
                <input id="config_links" type="checkbox" name="config[links]"
                    value="1" flexy:if="!config[links]" />
                <label for="config_links">{translate(#config include links#)}</label>
            </li-->
            <li>
                <input id="config_attrib-lists" type="checkbox" name="config[attrib_lists]"
                    value="1" checked="checked" flexy:if="config[attrib_lists]" />
                <input id="config_attrib-lists" type="checkbox" name="config[attrib_lists]"
                    value="1" flexy:if="!config[attrib_lists]" />
                <label for="config_attrib-lists">{translate(#config include attribute lists#)}</label>
            </li>
        </ul>

        <p>
            <input class="button" type="submit" name="submitted"
                   value="{tr(#do export (action)#)}" />
        </p>
    </form>
</div>
