<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>

    <p flexy:if="!showWords">
        <a href="{makeUrl(action,#translation#,#translation#,##,#showWords|1#)}">{tr(#Show words count#)}</a>
    </p>
    <p flexy:if="showWords">
        <a href="{makeUrl(action,#translation#,#translation#)}">{tr(#Hide words count#)}</a>
    </p>

    <table class="full">
    <thead>
        <tr>
            <th class="left">{tr(#Language#)} / {tr(#module#)}</th>
            {foreach:aModules,key,moduleName}
            <th class="left">{moduleName}</th>
            {end:}
            <th class="left">{tr(#Total#)}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{switchRowClass(##,#backHighlight#):h}"
            flexy:foreach="aLangs,langKey,langName">
            <td class="left">{langName}</td>
            {this.plugin(#showLanguageStatus#,aModules,langKey,showWords):h}
        </tr>
    </tbody>
    </table>

    <div class="spacer"></div>
</div>
