<script type="text/javascript">
function refreshContentType(elem)
{
    var contentTypeId = elem.options[elem.selectedIndex].value;
    var contentId = document.getElementById('contentId').value;
    var myHref = SGL_JS_WEBROOT + '/' + SGL_JS_FRONT_CONTROLLER + '/cms/linker/frmContentId/' + contentId + '/frmContentTypeId/' + contentTypeId + '/';
    document.location.href = myHref;
}
</script>

<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
    </div>
    <div class="moduleContainer" id="cmsContainer" flexy:ignore>
        <div class="moduleContent full">
            <div class="wrap">
                <p>Use this screen to link the calling content item to any other content item(s) in the system.  Filter by
                type if desired.</p>

                <form flexy:ignore id="linkerForm" method="post">
                    <fieldset class="inside">
                        <input type="hidden" name="frmContentId" id="contentId" value="{contentId}">
                        <input type="hidden" name="action" value="update">

                        <!--LINK TO ITEM-->
                        <p>
                            <label>Item to be linked</label>
                            <span>[{contentId}] {contentName}</span>
                        </p>
                        <!--CONTENT TYPES -->
                        <p>
                            <label for="content[type_id]" class="tipOwner">
                                Content type
                                <span class="tipText">{translate(#Refine the listed content by choosing a content type#)}</span>
                            </label>
                            <select size="1" name="content[type_id]" id="content[type_id]"
                                onChange="refreshContentType(this)">
                                <option value="0">{translate(#Show all#)}</option>
                                {generateSelect(aContentTypes,contentTypeId):h}
                            </select>
                        </p>

                        <!--CONTENT ITEMS -->
                        <p>
                            <label for="content[id][]">Link to </label>
                            <select size="20" multiple="multiple" name="frmContentAssocIds[]" id="content_id">
                                {generateSelect(aContents,aAssocIds,#true#):h}
                            </select>
                        </p>

                        <!--STATE -->
                        <p>
                            <label>Change selection</label>
                            <input type="button" name="selectNone" value="select none" onclick="toggleSelected(document.getElementById('content_id'), false)" />
                        </p>

                    </fieldset>
                    <!--SAVE-->
                    <p>
                        <label>&nbsp;</label>
                        <input type="submit" name="submitted" value="save links" />
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>