<?php

// Defaults vars
//  - siteUrl
//  - siteName
//  - crlf

// Vars from observer
//  - membername
//  - resetUrl
//  - signature

// main
$line1 = SGL_Output::tr('dear %membername%', 'vprintf', $aParams);
$line2 = SGL_Output::tr('we received your request to reset your password');
$line3 = SGL_Output::tr('if it was not you - ignore');
$line4 = SGL_Output::tr('use this url to reset your password');
$line5 = SGL_Output::tr('cheers (cya)');
$line6 = SGL_Output::tr('%siteName% team', 'vprintf', $aParams);

// text
$bodyTxt = <<< TXT
$line1

$line2

$line3

$line4

[1] {$aParams['resetUrl']}

$line5
$line6

--
{$aParams['signature']}
TXT;

/*
Dear %membername%,

We have received your request to reset your password.

If this wasn't you, there's nothing to worry about - simply ignore this email
and nothing will change.

Please use this URL [1] to reset your password within 5 days.

[1] <url>

Cheers,
The %siteName% team.

---
%signature%
*/
?>