/* Dashboard layout */
#dashboard-container .widget-col {
}
  #dashboard-container .widget-col .block-helper {
    margin-right: 15px;
  }
  #dashboard-container .widget-col-last .block-helper {
    margin-right: 0;
  }
  
/* Latest CMS activity block */
#dashboard-activity {
}
  #dashboard-activity .date-container {
    margin-bottom: 0.5em;
  }
    #dashboard-activity .date-container h3 {
      color: #333;
      font-size: 0.9em;
    }
    #dashboard-activity .date-container li {
      position: relative;
      padding-left: 60px;
    }
      #dashboard-activity .date-container li em {
        position: absolute;
        left: 5px;
        top: 1px;
        font-size: 0.8em;
        font-style: normal;
        color: #333;
      }
      #dashboard-activity .date-container li span {
        position: absolute;
        left: 35px;
        top: 3px;
      }